body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.bg_home {
  background-image: url("../../images/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.container_boton {
  display: inline-flex;
  justify-content: flex-end;
  width: 9%;
  height: 5%;
  position: relative;
  top: -3%;
  left: 90%;
}

.button_go_create {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
  padding: 5px 16px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  font-family: "Kanit", sans-serif;
  background: rgba(0, 0, 0, 0.85);
  color: silver;
  font-size: large;
  cursor: pointer;
}

.button_go_create::active {
  transform: scale(0.98);
  box-shadow: 3px 3px 9px black;
}

.header {
  display: inline-block;
  margin: 0px 20px 27px;
  position: relative;
  top: 30px;
  right: 143px;
}

label {
  font-family: 'Kanit', sans-serif;
    margin: 6px;
}

.select {
  padding: 5px 3px;
  font-family: "Kanit", sans-serif;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: none;
  color: silver;
  font-size: medium;
  margin: 4px;
  cursor: pointer;
}

.loading {
  position: absolute;
  left: 46%;
  top: 50%;
  height: 10%;
  width: 5%;
  background: #0000009c;
  border-radius: 20px;
  padding: 10px;
}