html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.bg_details {
  background-image: url("../../images/details.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.a_back_details {
  text-decoration: none;
  height: max-content;
  width: max-content;
  margin: 10px 20px;
}

.delete_details {
  position: relative;
  left: 83%;
  height: max-content;
  width: max-content;
  margin: 10px 20px;
}

.boton {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0.85);
  color: silver;
  font-size: larger;
  border-radius: 20px;
  padding: 3px 10px;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.boton_delete {
  width: max-content;
  height: max-content;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0.85);
  color: silver;
  font-size: larger;
  border-radius: 20px;
  padding: 3px 10px;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.with_img {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  flex-flow: row wrap;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.without_img {
  width: 100%;
  height: max-content;
  display: inline-flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  position: relative;
  top: 15%;
  right: 8%;
  text-align: center;
  background: #00000073;
  padding: 10px 47px;
  color: white;
  border-radius: 20px;
  font-family: "Kanit", sans-serif;
}

.img_holder {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  position: relative;
  top: 0%;
  right: 29%;
  width: 100%;
  height: 100%;
  margin: 10px;
  border-radius: 20px;
}

.info {
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  top: 0%;
  right: 15%;
  text-align: center;
  background: #00000073;
  padding: 0 15px;
  color: white;
  border-radius: 20px;
  font-family: "Kanit", sans-serif;
  width: 100%;
  height: 100%;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.loading {
  position: absolute;
  left: 46%;
  top: 37%;
  height: 10%;
  width: 5%;
  background: #0000009c;
  border-radius: 20px;
  padding: 10px;
}
