.conteiner_card {
  margin: 38px;
  width: 20%;
  display: inline-flex;
  justify-content: center;
  height: 100%;
}

.card {
  background: #0e09099e;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 16px;
}

.a_card {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.img_holder {
  height: 255px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.title {
  position: relative;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 5px 17px 10px;
  margin: 0;
}

.temps {
  display: inline-flex;
  width: 100%;
  text-align: center;
  border: none;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  color: #28965A;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.temps p {
  margin: 0;
  padding: 10px 0 5px 0;
}

.weight {
  margin: 0;
  padding: 22px 0 22px 0 ; 
}